.container{
    display: flex;
    flex-direction: column;
}
#style{
    background-color: lightsalmon;
    text-align: center;
    color: darkred;
}

#inputStyle{
    background-color: lightsalmon;
    text-align: center;
    color: white
}

input{
margin: 0 auto;
width: 100%;
border-color: red;
}